{% if form.non_field_errors %}
  <div class="message error">{{ form.non_field_errors }}</div>
{% endif %}

{% for field in form %}
  {% if field.is_hidden %}
    {{ field }}
  {% else %}
    <div class="form-field">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }}
      {% if field.help_text %}
        <div class="form-help">{{ field.help_text }}</div>
      {% endif %}
      {% if field.errors %}
        <div class="form-help">{{ field.errors }}</div>
      {% endif %}
    </div>
  {% endif %}
{% endfor %}
